# Browsers that support modern JS features
last 2 Chrome versions
last 2 Firefox versions
last 2 Safari versions
last 2 Edge versions

# Make sure we explicitly include browsers that support document
defaults
not IE 11
